/* Css Variables */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --boxshasow: 0 1px 10px rgba(2, 2, 2, 0.5);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 50px 30px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: none;
    text-align: center;
}

img {
    width: 100%;
}

.wrapper {
    display: grid;
    gap: 20px;
}

/* Navigation */

.main-nav ul {
    display: grid;
    gap: 20px;
    padding: 0;
    list-style-type: none;
    grid-template-columns: repeat(4,1fr);
}

.main-nav a{
    background: var(--primary);
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.8rem;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/* Top Container */

.top-container {
    display: grid;
    gap: 20px;
     grid-template-areas: 
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(web.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

.top-box {
    background: var(--primary);
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2.5rem;
}

.boxes {
    display: grid;
    gap: 20px;
    /* when we give like this it is not responsive
    grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

.box {
    background: var(--primary);
    box-shadow: var(--shadow);
    text-align: center;
    padding: 1.5rem 2rem;
}

.box:hover {
    box-shadow: var(--boxshasow)
}

/* Info */

.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem;
}

/* Portfolio */
.portfolio {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr))
}

.portfolio img {
    box-shadow: var(--shadow);
}

.portfolio img:hover {
    box-shadow: var(--boxshasow);
}
/* Footer */

footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}


/* Media */

@media (max-width: 700px) {
    .top-container {
        grid-template-areas: "showcase showcase" "top-box-a top-box-b";
    }

    .showcase h1{
        font-size: 2.5rem;
    }

    .main-nav ul {
        grid-template-columns: 1fr;
    }
    
    .info {
        grid-template-columns: 1fr;
    }
}

